@font-face{
    font-family: LatoRegular;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face{
    font-family: LatoBlack;
    src: url("../fonts/Lato/Lato-Bold.ttf");
}
@font-face{
    font-family: Anton;
    src: url("../fonts/Anton/Anton-Regular.ttf");
}