header {
    background:#FFF;
    padding: 5px 0;

    div.logo {
        padding: 5px;
        width: 70%;
    }
}

main {
    background: #FFF;
    div.logoaccueil {
        font-size: 100px;
        text-align: center;
    }

    h2 {
        color: $jaune;
        width: 90%;
        margin: auto;
        text-align: center;
        font-family: Anton;

        span {
            display: block;
            font-size: percentage(0.7);
        }
    }

    div.chiffres {
        display: flex;
        flex-wrap: wrap;
        font-size: 10em;
        justify-content: space-around;
    }
}

aside {
    width: 95%;
    margin: auto;
    margin:10px 0;

    h2 {
        color: $gris;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    p{
        padding:10px;
    }
}

div.bouton {
    text-align: center;
    button{
        background:$gris;
        color:#FFF;
        width:90%;
    }
}

div.action{
    button{
        background: $jaune;
        color: #000;
        width:40%;
    }
}

section {
    div{
        margin:10px 0px;;
        width:100%;
        article{
            padding:10px;
            h2{
                font-family: Anton;
                color:$gris;
            }
            h4{
                font-family: LatoBlack;
                margin-bottom:10px;
                color:$gris;
            }
            div{
                width:80%;
            }

            p{
                line-height: 22px;
                margin-left:15px;
                color:$gris;
            }
        }
    }
    div.actus{
        background:$jaune;
        color: #FFF;
        h2{
            color:#FFF;
        }
        h4{
            color:#FFF;
        }
        p{
            color: #FFF;
        }
    }
    div.demarche{
        background:$vert;
    }
    div.temoin{
        background:$marronClair;
    }
}

footer{
    background: $gris;
display: flex;
flex-direction: column;
color:#FFF;
align-items: center;
    p{
        padding: 5px;
        color:#FFF;
        font-family: LatoBlack;
        font-size: 1.2em;
    }
}